<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="title">title</label>
                <input class="form-control" type="text" name="campground[title]" id="title" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">location</label>
                <input class="form-control" type="text" name="campground[location]" id="location" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="image">image</label>
                <input class="form-control" type="text" name="campground[image]" id="image" required>
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">image</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="" aria-describedby="price-label" name="campground[price]" required>
                </div>                
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">description</label>
                <textarea class="form-control" type="text" name="campground[description]" id="description" required></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Campground</button>
            </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
    </div>
</div>